body{
    width:1000px;
    /* text-align: center; */
    /* padding-left: 500px; */
}
.body{
    width:500px;
    /* position: absolute; */
    /* left: 250px; */
    /* margin-left:250px; */
}
/* Для себя хотел знать как сделать сайт по середине */
.FormH1{
    color:red;
}
.personal_data{
    display:inline-block;
    margin-bottom:10px;
    margin-left:150px;
    /* width:150px; */
}
.personal_data:nth-child(3){
    margin-left:185px;
}
.personal_data:last-child{
    margin-left:172px;
}
fieldset{
    border:1px solid blue;
    border-radius: 10px;
    /* display:inline-block; */
    /* width:150px; */
    /* margin-left:100px; */
}
legend{
    color:blue;
}
select{
    display: inline-block;
    width:172px;
    margin-left:166px;
}
.values:nth-child(3){
    margin-left:77px;
}
.values:nth-child(7){
    margin-left:83px;
}
.values:nth-child(11){
    margin-left:90px;
}
.groups{
    color:red;
}